@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto&family=Young+Serif&display=swap');

/** Style our text box */
#inputfield {
    width: 255px;
    height: 25px;
    border-radius: 6px;
    border: 2px solid rgb(87, 87, 87);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

/** Style text box when in focus */
#inputfield:focus {
    /** style the outline of the text box when we click on it to make it stick out a bit */
    /** NOTE outlines are different than borders, they draw outside an element's border */
    outline: 2px solid rgb(87, 87, 87);
}

/**
  * Style all buttons
*/
button {
    /** button width */
    width: 50px;
    /** button height */
    height: 35px;
    /** 2px solid border in dark gray */
    border: 2px solid rgb(87, 87, 87);
    /** set background color of button to be white */
    background-color: white;
    /**  round the corners of the button */
    border-radius: 25%;
    /** set the font size of the button */
    font-size: 14px;
    /** pick a font family for the button, this is a Google Font */
    font-family: 'Roboto', sans-serif;
    /** make our mouse a pointer when putting our mouse over the button */
    cursor: pointer;
}

/**
  * Style buttons for when we hover over them
*/
button:hover {
    /** Make background color the same as border */
    background-color: rgb(87, 87, 87);
    /** Change text to white to stick out better when hovering over buttons */
    color: white;
}

/** Container for all elements on screen, use grid layout */
.wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

/** Use flexbox to organize our buttons for calculator besides clear history, position them at flex-start */
.flexContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

/** Space out elements in our flex container divs that hold various buttons (such as zero button and plus button for example )*/
div.flexContainer {
    margin-top: 10px;
    margin-left: 475px;
}

/** Construct a contained to hold our clear history button and history list with one column and two rows */
.historyContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

/** Put input text box and all other buttons in column 1 of main grid */
.calculatorFunctions {
    grid-column: 1;
    display: flex;
    justify-content: end;
}

/** Position our calculator history which includes clear history button and list in column 2 of our main grid */
.calculatorHistory {
    grid-column: 2;
    display: flex;
    justify-content: start;
}

/** Create a grid to organize our clear history button and our history list for the results of previous computations */
.display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 5px;
}

/** Put the list that holds previous computations results in the first row of the grid */
.list {
    grid-row: 1;
}

/** Put clear history button in row 2 of the current grid */
.btn1 {
    grid-row: 2;
}

/** Style our unordered list */
ul {
    height: 200px;
    width: 275px;
    margin: 11px;
    list-style-type: none;
    border: 1px solid black;
    padding: 0;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
}

/** Style our list elements so they look nice and also use a pointer to indicate to the user they can click on results of previous computations */
ul li {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(237, 237, 237); 
    border-bottom: 1px solid gray;
    font-size: 14px;
    cursor: pointer;
}

/** Change text color to indicate we are hovering over a list item */
ul li:hover {
    color: white;
    background-color: gray;
}

/** Do not show the the bottom border on the last element in the list */
ul li:last-child {
    border-bottom: none;
}

/** We need to style our clear history button past normal button styling as the there is more text
  * text inside of this button that does not look good without further modification of the button width, and height 
  * and border history
*/
#clearHistory {
    width: 150px;
    height: 37px;
    border-radius: 15%;
}

/** Style header for basic calculator*/
h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/** Round our equals button and make it larger */
#equalsbtn {
    width: 190px;
    height: 35px;
    border-radius: 12%;
}