<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/form.css" />
<script src="/js/preview.js"></script>
<script src="/js/validate.js"></script>
</head>

<body>
    <form action="formdata" enctype="multipart/form-data" method="post">
    <div class="senderDetails">
        <div class="browse">
            <h1>Sender Details</h1>
            <img class="previewImage" id="preview" alt="Preview Image" required>
            <div class="selectFileBox">
                <input placeholder="picture.png" readonly id="fileText" type="text" name="file" required/>
                <label id="browseLabel" for="fileSelect" required>
                Browse
                <input id="fileSelect" type="file" accept=".png, .jpeg, .jpg" onchange="previewImage(event)"/>
                </label>
            </div>
            <div id="err1"></div>

            <div class="senderNames">
                <label>First Name:</label>
                <label id="slast">Last Name:</label>
            </div>
            <div class="senderInputBoxes">
                    <input placeholder="John" id="sFirstBox" name="sender_first" type="text"/>
                    <input placeholder="Smith" id="sLastBox" name="sender_last" type="text"/>
            </div>
        </div>

        <div class="recipient">
            <h1>Recipient Details</h1>
            <div class="recipientNames">
                <label>First Name:</label>
                <label id="rlast">Last Name:</label>
            </div>
            <div class="recipientNamesBoxes">
                <input placeholder="John" id="rFirstBox" name="recipient_first" type="text"/>
                <input placeholder="Smith" id="rLastBox" name="recipient_last" type="text"/>
            </div>

            <div id="err2"></div>
            <div id="err3"></div>

            <div class="messageTxt">
                <label>Message</label>
            </div>
            <div>
                <textarea placeholder="A message" name="message" id="messageBox"></textarea>
                <div id="err4"></div>
            </div>
            <div id="notifyRecipient">
                <label>Notify Recipient</label>
            </div>

            <div class="notifyButtons">
                <input id="emailRadio" name="email_button" type="radio"/>
                <label>Email</label>
                <input id="smsRadio" name="sms_button" type="radio"/>
                <label>SMS</label>
                <input id="dnotRadio" name="dno_button" type="radio"/>
                <label>Do not notify</label>
                <div id="err4"></div>
            </div>

            <div class="recipientNames">
                <label>Email:</label>
                <label id="pnumb">Phone Number:</label>
            </div>

            <div class="recipientNamesBoxes">
                <input id="emailBox" name="email" type="email" placeholder="jsmith@gmail.com"/>
                <input id="pnumbBox" name="pnumber" type="text" placeholder="555-555-5555"/>
            </div>

            <div id="err5"></div>
            <div id="err6"></div>
        </div>
    </div>
    <div class="paymentDetails">
        <div class="payment">
        <h1>Payment Details</h1>

        <div class="cardsText">
            <label>Card Type:</label>
            <label id="cnumb">Card Number:</label>
        </div>

        <div class="cardsBoxes">
                <select class="styleDropdownAndButtons">
                    <option id="visa">Visa</option>
                    <option is="master">Mastercard</option>
                    <option id="discover">Discover</option>
                    <option id="american">American Express</option>
                </select>
                <input placeholder="XXXX-XXXX-XXXX-XXXX"name="cnumber" id="cardNumberBox" type="text">
        </div>

        <div class="paymentInfoText">
            <label id="expText">Expiration:</label>
            <label id="ccvText">CCV:</label>
            <label id="amountText">Amount ($):</label>
        </div>

        <div class="paymentInfoBoxes">
            <input id="date" name="date" class="" type="date">
            <input id="ccv" name="ccv" type="password" placeholder="xxx">
            <input id="amount" name="amount" type="text" placeholder="5.00">
        </div>

        <div class="termsCheckbox">
            <input id="termsBox" name="terms_box" type="checkbox"/>
            <label id="termsText">I agree to the Terms and Conditions</label>
        </div>

        <div class="sendbtn">
            <input id="sendbtnstyle" value="Submit" type="submit"></button>
        </div>
        </div>
    </div>
    </form>
</body>

</html>