<!DOCTYPE html>
<head>
    <link href='/css/profile.css' rel='stylesheet'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="/js/profile.js" type="module"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="d-flex justify-content-end align-items-center w-100 h-100">
            <div class="d-flex justify-content-center w-50 h-100"><h1 class="align-self-center"><a href="/main">Howler</a></h1></div>
            <div class="d-flex justify-content-end align-items-center w-25 h-100 m-2"id="userInfo">
                <div id="user"></div>
            </div>
        </nav>
    </header>

    <main>
        <!-- Show profile pic, info and follow button or unfollow button unless we are on our profile page -->
        <div class="d-flex justify-content-center w-100">
            <div class="d-flex justify-content-center w-50">
                <div id="profileSummary"></div>
            </div>
        </div>
        <!-- Create a dropdown with all users this person is following -->
        <div class="d-flex flex-row justify-content-center mb-5 mt-5 h-100">
            <div class="d-flex w-50">
                <div id="followingList">
                    <label id="followsLabel">Follows:</label>
                </div>
            </div>
        </div>
        <!-- Messages -->
        <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <div class="d-flex justify-content-start w-50">
                <h1 id="howlsHeader">Howls</h1>
            </div>
            <div class="d-flex justify-content-centerw-50">
                <!-- All messages will be populated into this div -->
                <div id="messages"></div>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</body>
