<!DOCTYPE html>
<head>
    <link href='css/main.css' rel='stylesheet'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="js/main.js" type="module"></script>
</head>

<body>
    <main>
        <div class="d-flex justify-content-between w-100 mb-2" id="mainDiv">
            <div class="d-flex justify-content-center w-75"><h1 id="test">Main Page</h1></div>
            <div class="d-flex justify-content-end w-25" id="profileDiv">
                <div id="user">
                    <div class="dropdown-content" id="menu">
                    </div>
                </div>
            </div>
        </div>
        <div class="button_div"></div>
        <div class="welcome"></div>
    </main>
</body>